*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #00A9FF;
    font-family: 'Indie Flower', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

input{
    border-radius: 5px;
}